{
  "extends": ["standard", "prettier", "plugin:node/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "always"],
    "eqeqeq": ["error", "smart"],
    "no-return-assign": 0,
    "node/no-unpublished-require": 0
  },
  "plugins": ["jest", "prettier"],
  "env": {
    "jest/globals": true,
    "node": true,
    "commonjs": true,
    "es6": true
  }
}