{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "eqeqeq": ["error", "smart"],
    "no-return-assign": 0
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  }
}